
body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.cards {
    background: #0d5825;
    min-width: 100vw;
    min-height: 100vh;
    color: white;
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
    quotes: "“" "”";
    position: relative;  
}

blockquote {
    color: white;
    font-size: 32px;
}

cite {
    color: white;
    font-size: 32px;
    font-style: italic;
}

@media (max-width: 768px) {
    blockquote {
        font-size: 24px;
    }
    
    cite {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    blockquote {
        font-size: 16px;
    }
    
    cite {
        font-size: 16px;
    }
}


.card1 {
    width: 235px;
    transform: rotate(-25deg);
    position: absolute;
    padding-top: 7%;
    padding-bottom: 5%;
    margin-left: -175px;
}

.card1:hover {
    transition: all .3s ease-in-out;
    transform: rotate(-25deg) translateY(-20px);
}

.card2 {
    width: 235px;
    transform: rotate(-10deg);
    padding-top: 6%;
    padding-bottom: 5%;
    position: absolute;
    margin-left: -50px;
}

.card2:hover {
    transition: all .3s ease-in-out;
    transform: rotate(-10deg) translateY(-20px);
}

.card3 {
    width: 235px;
    transform: rotate(10deg);
    padding-top: 9%;
    padding-bottom: 5%;
    position: absolute;
    margin-left: 55px;
}

.card3:hover {
    transition: all .3s ease-in-out;
    transform: rotate(10deg) translateY(-20px);
}

.the-end {
    display: none;
}


@media (max-width: 768px) {
    .card1 {
    width: 150px;
    margin-left: -145px;
    }

    .card2 {
        width: 150px;
        margin-left: -65px;
    }

    .card3 {
        width: 150px;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .card1 {
    width: 120px;
    padding-top: 9%;
    margin-left: -120px;
    }


    .card2 {
        width: 120px;
        margin-left: -60px;
        padding-top: 9%;
    }

    .card3 {
        width: 120px;
        padding-top: 11%;
    }
}