.border_box {
    width: 350px;
    height: 220px;
    padding: 15px 10px 20px 10px;
    margin-bottom: 30px;
    border-style: dashed;
    border-width: 2px;
    border-color: red;
    background-color: green;
    box-sizing: border-box;
}

p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 28px;
}


.left {
    float: left;
    padding: 0px 30px 10px 0px;
    width:30%;
}

.right {
    float: right;
    padding: 20px 0px 20px 30px;
    width:25%;
}


