html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
  background: #EEEFF1;
  position: relative;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-left: 200px;
  padding-bottom: 15px;
}

.logo-wd {
  font-family: 'Revalia', cursive;
  font-size: 48px;
  line-height: 60px;
  color: #34547A;
  padding-right: 100px;
}

@media (max-width: 1200px) {
  .logo {
    margin-left: 125px;
  }
  
  .logo-wd {
    font-family: 'Revalia', cursive;
    font-size: 40px;
    line-height: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1024px) {
  .logo {
    margin-left: 75px;
  }
  
  .logo-wd {
    font-family: 'Revalia', cursive;
    padding-right: 50px;
  }
}

@media (max-width: 768px) {
   .logo-wd {
    font-size: 60px;
    padding-right: 20px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.projects5 {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.burger {
  opacity: 0;
  position: absolute;
  left: -99999999px;
}

.opener {
  position: relative;
  height: 17px;
  width: 30px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .opener {
      display: none;
  }
}

.opener::before,
.opener:after,
.opener span {
  position: absolute;
  height: 4px;
  background: #34547A;
  left: 0;
  right: 0;
}

.opener:before,
.opener:after {
  content: '';
}

.opener::before {
  top: 0;
}

.opener:after {
  bottom: 0;
}

.opener span {
  top: 6px;
}


.nav-list {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  background: #EEEFF1;
  text-align: center;
  opacity: 0;
  visibility: hidden;
}

.burger:checked ~ .nav-list {
  opacity: 1;
  visibility: visible;
}

.nav-item {
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.1em;
    padding-right: 20px;
    padding-bottom: 15px;
}

@media (max-width: 1024px) {
  .nav-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.1em;
    padding-right: 10px;
}
}

.nav-item:hover {
  color: #34547A;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.1em;
}

@media (min-width: 768px) {
  .nav-list {
      position: static;
      display: flex;
      align-items: center;
      opacity: 1;
      visibility: visible;
  }

  .nav-item + .nav-item {
      padding-left: 15px;
  }
}

.nav-link {
  color: black;
}

.nav-link:hover {
  opacity: .7;
}

.section-skills1 {
  background: #EEEFF1;
  height: 590px;
  margin-top: -2px;
  padding: 100px 0 70px;
}

@media (max-width: 1200px) {
  .section-skills1 {
    height: 390px;
    padding: 50px 0 50px;
  }
}

@media (max-width: 768px) {
  .section-skills1 {
    height: 300px;
  }
}


@media (max-width: 480px) {
  .section-skills1 {
    height: 570px;
  }
}

.section-skills1 .col {
  width: 40%;
  padding: 0 15px 30px;
  margin-right: 100px;
}

@media (max-width: 968px) {
  .section-skills1 .col {
    margin-right: 25px;
  }
}

@media (max-width: 480px) {
  .section-skills1 .col {
    width: 100%;
  }
}

.row-banner {
  display: flex;
  align-items: center;
  margin: 0 -15px;
}


@media (max-width:480px) {
  .row-banner {
    display: block;
    margin-left: 5px;
  }
}

.img-comp {
  width: 100%;
  height: auto;
  margin-left: 200px;
}

.banner-title {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  margin-top: -10px;
}

.text-banner {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.btn {
  margin-top: 85px;
}

@media (max-width: 1400px) {
  .img-comp {
    width: 75%;
    height: auto;
    margin-left: 90px;
  }
}

@media (max-width: 1200px) {
  .img-comp {
    width: 75%;
    height: auto;
    margin-left: 100px;
  }
  
  .banner-title {
    font-size: 32px;
  }
  
  .text-banner {
    font-size: 14px;
    line-height: 22px;
  }
  
  .btn {
    margin-top: 65px;
  }
}

@media (max-width: 768px) {
  .img-comp {
    width: 75%;
    height: auto;
    margin-left: 35px;
  }
  
  .banner-title {
    font-size: 24px;
  }
  
  .text-banner {
    font-size: 10px;
    line-height: 20px;
  }
  
  .btn {
    margin-top: 25px;
  }
}

@media (max-width: 480px) {
  .img-comp {
    width: 100%;
    height: auto;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
  }
  
  .banner-title {
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .text-banner {
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  .btn {
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
}

.buttom {
  background-color: #34547A;
  color: white;
  font-size: 16px;
  padding: 25px 41px;
  letter-spacing: 0.1em;
  height: 55px;
}


@media (max-width: 1200px) {
  .buttom {
    font-size: 14px;
    padding: 15px 31px;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .buttom {
    font-size: 10px;
    padding: 5px 14px;
    height: 25px;
  }
}

@media (max-width: 480px) {
  .buttom {
    font-size: 14px;
    padding: 12px 12px;
    height: 35px;
  }
}

.obo-mne {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 119px;
  padding-bottom: 57px;
  width: 35%;
  text-align: center;
}

@media (max-width: 1200px) {
  .obo-mne {
    padding-top: 85px;
    padding-bottom: 47px;
  }
}


@media (max-width: 480px) {
  .obo-mne {
    width: 80%;
  }
}

.obo-mne >h1 {
  font-weight: 500;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 50px;
}

.obo-mne >p {
font-size: 16px;
line-height: 26px;
text-align: center;
color: #727272;
}

@media (max-width: 1200px) {
  .obo-mne >h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  
  .obo-mne >p {
  font-size: 14px;
  }
}

@media (max-width: 768px) {
  .obo-mne >h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .obo-mne >p {
  font-size: 10px;
  }
}

@media (max-width: 480px) {
  .obo-mne >p {
  font-size: 14px;
  }
}

.projects-list2 {
  background: #34547A;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects2 {
  padding: 100px 0 100px;
}

@media (max-width: 1024px) {
  .projects-list2 {
    display: flex;
    flex-wrap: wrap;
  }
  
  .projects2 {
    padding: 25px 0 25px;
  }
}

.projects2 .row2 {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.project-img {
  width: 47px;
  height: auto;
}

.pr-title {
  color: white;
  margin: 5px;
  margin-left: 25%;
  font-size: 21px;
  font-weight: 500;
}

.pr-text {
    color: white;
    margin: 5px;
    margin-left: 25%;
    font-size: 16px;
}

@media (max-width: 1200px) {
  .pr-title {
    font-size: 16px;
  }
  
  .pr-text {
      font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .project-img {
    width: 27px;
  }
  
  .pr-title {
    font-size: 16px;
  }
  
  .pr-text {
      font-size: 12px;
  }
}

.section-skills {
    padding: 100px 0 70px;
}

.section-skills .row {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    margin-left: 100px;

}

@media (max-width: 768px) {
  .section-skills .row {
    margin-left: 50px;

}
}

.section-skills .col {
    width: 40%;
    padding: 0 15px 30px;
    margin-right: 100px;
}

@media (max-width: 768px) {
  .section-skills .col {
    margin-right: 40px;
}
}

.skill-holder .section-title {
    margin: 0 0 50px;
    font-size: 32px;
    line-height: 1.15;
}

.skill-list {
    max-width: 445px;
    width: 100%;
}

.skill-item {
    margin-bottom: 30px;
}

.skill-item:last-child {
    margin-bottom: 0;
}

.skill-title {
    font-size: 16px;
    line-height: 1.6;
    display: inline-block;
    margin-bottom: 20px;
    color: #727272;
}

@media (max-width: 768px) {
  .skill-title {
    font-size: 12px;
    margin-bottom: 10px;
}
}

.skill-loader {
    position: relative;
    height: 4px;
    background: #c4c4c4;
}

.skill-load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #34547A;
}

.col-img { 
    background-position: center;
    background-size: cover;
    padding-top: 81%;
}

.container-video {
    background: #EEEFF1;
    height: 920px;
}

@media (max-width: 1200px) {
  .container-video {
    height: 780px;
}
}

@media (max-width: 768px) {
  .container-video {
    height: 700px;
}
}

@media (max-width: 480px) {
  .container-video {
    height: 500px;
}
}

.description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 57px;
    width: 35%;
    text-align: center;
}

@media (max-width: 480px) {
  .description {
    width: 80%;
}
}

.description >h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.description >p {
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

@media (max-width: 1200px) {
  .description {
    padding-top: 85px;
    padding-bottom: 47px;
}

.description >h2 {
  font-size: 28px;
}

.description >p {
  font-size: 14px;
}
}

@media (max-width: 968px) {
  .description {
    padding-top: 55px;
    padding-bottom: 35px;
}
}

@media (max-width: 768px) {
  .description >h2 {
    font-size: 24px;
  }
  
  .description >p {
    font-size: 14px;
  }
}

.video-img {
  position: relative;
  margin-left: 200px;
  margin-right: 200px;
}

@media (max-width: 1024px) {
  .video-img {
    margin-left: 140px;
    margin-right: 140px;
  }
}

@media (max-width: 768px) {
  .video-img {
    margin-left: 100px;
    margin-right: 100px;
  }
}

@media (max-width: 480px) {
  .video-img {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.icon-video {
  width: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .icon-video {
    width: 70px;
  }
}

@media (max-width: 968px) {
  .icon-video {
    width: 50px;
  }
}

.img-video {
    width: 900px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    width: 25%;
    padding-top: 25%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

@media (max-width: 768px) {
  .gallery-item {
    width: 50%;
}

.gallery-item:nth-child(1) {
  order: -1;
}
.gallery-item:nth-child(2) {
  order: 0;
}
.gallery-item:nth-child(3) {
  order: 2;
}
.gallery-item:nth-child(4) {
  order: 1;
}
.gallery-item:nth-child(6) {
  order: 3;
}
.gallery-item:nth-child(5) {
  order: 4;
}
.gallery-item:nth-child(7) {
  order: 5;
}
.gallery-item:nth-child(8) {
  order: 6;
}

}

.gallery-item::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(52, 84, 122, 0.8);
}

.gallery-item:after {
    content: '';
    height: 58px;
    width: 100px;
    background: url('img/icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gallery-item::before,
.gallery-item::after {
    opacity: 0;
    visibility: hidden;
}

.gallery-item:hover::before,
.gallery-item:hover::after {
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
}



.micros-list {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 200px;
  padding-right: 200px;
}

@media (max-width: 1200px) {
  .micros-list {
    height: 150px;
    padding-left: 125px;
    padding-right: 125px;
  }
}

@media (max-width: 768px) {
  .micros-list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  .micros-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.micros-item {
  padding-left: 30px;
}

@media (max-width: 1024px) {
  .micros-item {
    padding-left: 15px;
}
}

@media (max-width: 768px) {
  .micros-item {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .micros-item {
    width: 50%;
  }
}

.micros-img {
  width: 200px;
  height: auto;
}

@media (max-width: 768px) {
  .micros-img {
    width: 65%;
  }
}

.contact {
  background: #EEEFF1;
  height: 840px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 968px) {
  .contact {
    height: 760px;
  }
}

@media (max-width: 480px) {
  .contact {
    height: 660px;
  }
}

.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 57px;
    width: 35%;
    text-align: center;
}

@media (max-width: 1200px) {
  .form {
    margin-left: 310px;
}
}

@media (max-width: 1024px) {
  .form {
    margin-left: 240px;
}
}

@media (max-width: 968px) {
  .form {
    margin-left: 170px;
}
}

@media (max-width: 768px) {
  .form {
    margin-left: 150px;
}
}

@media (max-width: 640px) {
  .form {
    margin-left: 100px;
}
}

@media (max-width: 480px) {
  .form {
    margin-left: 30px;
}
}

.row-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 540px;
}
.fild-1, .fild-2 {
  width: 255px;
}

.fild-3 {
  width: 540px;
}

@media (max-width: 768px) {
  .row-input {
    width: 440px;
}
.fild-1, .fild-2 {
  width: 210px;
}

.fild-3 {
  width: 440px;
}
}

@media (max-width: 640px) {
  .row-input {
    width: 380px;
}
.fild-1, .fild-2 {
  width: 180px;
}

.fild-3 {
  width: 380px;
}
}

@media (max-width: 480px) {
  .row-input {
    width: 320px;
}
.fild-1, .fild-2 {
  width: 150px;
}

.fild-3 {
  width:320px;
}
}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 0;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  display: block;
  font-size: 16px;
  font-family: 'Roboto';
}

textarea {
  width: 100%;
  padding: 12px;
  border: 0;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  display: block;
  font-size: 16px;
  font-family: 'Roboto';
  resize: none;
}

input,  textarea {
  outline:none;
}

.name, .e-mail {
  height: 50px;
}

.message {
  height: 175px;
}
.btn-2 {
  margin-top: 70px;
}

@media (max-width: 1400px) {
  .btn-2 {
    margin-left: 100px;
  }
}

@media (max-width: 1200px) {
  .btn-2 {
    margin-left: 140px;
  }
}

@media (max-width: 1024px) {
  .btn-2 {
    margin-left: 170px;
  }
}

@media (max-width: 768px) {
  .btn-2 {
    margin-top: 35px;
    margin-left: 150px;
  }
}

@media (max-width: 480px) {
  .btn-2 {
    margin-top: 35px;
    margin-left: 100px;
  }
}

.buttom-2 {
  background-color: #34547A;
  color: white;
  font-size: 14px;
  padding: 20px 41px;
  letter-spacing: 0.1em;
  height: 55px;
}

@media (max-width: 768px) {
  .buttom-2 {
    font-size: 12px;
    padding: 14px 21px;
    height: 40px;
  }
}

.footer {
  background: #34547A;
  height: 151px;

}

.autor >h6 {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  color: white;
  margin: 0;
}

.autor >p {
  font-size: 13px;
  line-height: 21px;
  color: white;
}

@media (max-width: 768px) {
  .autor >h6 {
    font-size: 16px;
  }
  
  .autor >p {
    font-size: 10px;
  }
}

.footer-1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 50px;
}

.vk {
  padding-right: 22px;
}

.vk-logo {
  width: 44px;
  height: auto;
}

@media (max-width: 768px) {
  .vk-logo {
    width: 30px;
    height: auto;
  }
}